<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocuTrack | Homepage</title>
    <!-- JQuery & Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- JQuery & Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>

    <!-- Style linking && Javascript -->
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/script.js"></script>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/1e97ff2f9f.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <header class="header-wrapper">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand titleWeb" href="">DocuTrack</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Help and Support</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="./signin">Sign in</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </header>

    <img src="./img/mountainBg.png" alt="" class="mountainBg">

    <section class="introduction">
        <div class="container">
          <div class="introductionFirstCol text-center">
            <p class="introductionPOne">Unlock the Potential of Advanced Document Management</p>
            <p class="introductionPTwo">
              Discover the ultimate solution for handling your documents with DocuTrack. From editing documents to securely uploading files and effortlessly sharing them across your team. Empower your organization with enhanced collaboration, compliance, and efficiency.
            </p>
            <a href="./signup"><button class="introductionButton">Try FREE Now</button></a>
          </div>
        </div>
    </section>

    <section class="whyUs">
        <div class="container">
            <p class="text-center whyFirstP">Why Choose DocuTrack?</p>
            <div class="row">
              <div class="col-md-6 text-center reveal" style="margin-top: 100px;">
                <img src="./img/pdfEditor.png" alt="" class="imgWhyChoose">
              </div>
              <div class="col-md-6 text-start " style="margin-top: 100px;">
                <p class="firstTitleForWhy">Document Editor</p>
                <p>DocuTrack's Document Editor empowers you to make precise edits and improvements to your documents. Whether adding annotations, adjusting text, or inserting images, our intuitive interface ensures that your document editing experience is seamless and efficient.</p>
              </div>
              <div class="col-md-6 text-start" style="margin-top: 100px;">
                <p class="firstTitleForWhy">File Upload</p>
                <p>Upload your documents effortlessly with DocuTrack. Our secure and straightforward upload feature ensures that your files are safely stored and easily accessible, allowing you to manage your documents with confidence and ease.</p>
              </div>
              <div class="col-md-6 text-center" style="margin-top: 100px;">
                <img src="./img/uploadFile.png" alt="" class="imgWhyChoose">
              </div>
              <div class="col-md-6 text-center" style="margin-top: 100px;">
                <img src="./img/shareFiles.png" alt="" class="imgWhyChoose">
              </div>
              <div class="col-md-6 text-start" style="margin-top: 100px;">
                <p class="firstTitleForWhy">Share Documents</p>
                <p>DocuTrack makes sharing documents simple and secure. Instantly share files with your team members, enabling efficient and effective collaboration. Keep everyone in sync and streamline your workflow with our easy-to-use document sharing tools.</p>
              </div>
            </div>
        </div>
    </section>

    <section class="startNow">
      <div class="container">
        <p class="text-center whyFirstP" style="margin: 100px 0px 0px 0px;">Ready to Transform Your Document Management?</p>
        <div class="row rowStartNow">
          <div class="col-md-6">
            <p> Join countless professionals who trust DocuTrack to streamline their document workflows. Start your journey today and experience the future of document management.</p> 
          </div>
          <div class="col-md-6 text-center">
            <a href="./signup"><button class="introductionButton" style="margin-top: 0;">Try FREE Now</button></a>
          </div>
        </div> 
      </div>
    </section>

    <footer style="margin-top: 150px;">
      <div class="container containerFooter"  style="margin-bottom: 50px;">
        <div class="row">
          <div class="col-md-6">
            <p>DocuTrack</p>  
          </div>
          <div class="col-md-3">
            <p>Company</p>  
            <a href="">About Us</a><br/>
            <a href="">Contact Us</a><br/>
            <a href="">Help and Support</a>
          </div>
          <div class="col-md-3">
            <p>Company</p>  
            <a href="">About Us</a><br/>
            <a href="">Contact Us</a><br/>
            <a href="">Help and Support</a>
          </div>
        </div>
      </div>
    </footer>

</body>
</html>